
.profile-card {
    display: grid;
    margin-top: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 400px
}

.profile-card div {
    display: flex;
    gap: 10px;
}
.profile-card div p{
    align-content: center;
}
